<div class="container">
  <h1>Details of cocktails</h1>

  <%= @cocktail.name %>
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% @cocktail.doses.each do |dose| %>
    <p>
      <%= dose.ingredient.name %>
      <%= link_to "Remove dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to 'Create a dose', new_cocktail_dose_path(@cocktail) %>
      <hr>
    </p>
  <% end %>
  <%= link_to "Remove", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to 'Edit', edit_cocktail_path(@cocktail) %>
  <%= link_to 'Create a dose', new_cocktail_dose_path(@cocktail) %>
  <%= link_to "Back to list", root_path %>
</div>